/*
 * Keyframes
 */
@keyframes clickWaves {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

/*
 * Stage
 */
* {
    margin: 0;
    padding: 0;
}
.stage {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: #f6f6f2;
    overflow: hidden;
}
.clickWaves {
    position: absolute;
    background-color: #339fa6;
    border-radius: 50%;
    width: 50vmin; height: 50vmin;
    margin: -25vmin;
    transform: scale(0);
}

/*
 * Animations
 */
.clickWaves { animation: clickWaves .52s ease-out; }