<div class="root">
    <div class="title">
        <div class="logo"></div>
        <div class="description">
            KiwiFruit is a collection of Cyris's CSS animation works.
            I love kiwi fruit and CSS is just as cute as this fruit.
            All the codes are open source on GitHub.
        </div>
    </div>
    <div class="article">
        <a class="content" href="https://cyris.moe" title="title-1">
            <div class="content-decoration"></div>
            <div class="content-preview" style="background-image: url(./assets/previews/1.jpg)"></div>
            <div class="content-title">test-1</div>
        </a>
        <a class="content" href="https://cyris.moe" title="title-2">
            <div class="content-decoration"></div>
            <div class="content-preview" style="background-image: url(./assets/previews/2.png)"></div>
            <div class="content-title">test-2</div>
        </a>
        <a class="content" href="https://cyris.moe" title="title-3">
            <div class="content-decoration"></div>
            <div class="content-preview" style="background-image: url(./assets/previews/3.png)"></div>
            <div class="content-title">test-3</div>
        </a>
        <a class="content" href="https://cyris.moe" title="title-4">
            <div class="content-decoration"></div>
            <div class="content-preview" style="background-image: url(./assets/previews/4.png)"></div>
            <div class="content-title">test-4</div>
        </a>
    </div>
    <div class="footer">
        <a target="_blank" href="https://cyris.moe" title="Home">
            <i class="czs-network-l"></i>
        </a>
        <a target="_blank" href="https://github.com/iCyris/KiwiFruit" title="GitHub">
            <i class="czs-github-logo"></i>
        </a>
    </div>
</div>

<router-outlet></router-outlet>
