/*
 * Keyframes
 */
@keyframes bubble {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: center;
  }
  100% {
    transform: translate(0, -20vmin) scale(0);
    transform-origin: center;
  }
}
/*
 * Stage
 */
* {
  margin: 0;
  padding: 0;
}

.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ffefcf;
  overflow: hidden;
  filter: contrast(20px);
}

.fire-wrap {
  width: 100%;
  height: 25vmin;
  position: absolute;
  display: block;
  background-color: #E4AB6C;
  bottom: 0;
  left: 0;
  right: 0;
}

.fire {
  top: 0vmin;
  background-color: #E4AB6C;
  border-radius: 50%;
  transform: scale(0);
}

.fire:nth-child(0) {
  position: absolute;
  width: 19vmin;
  height: 19vmin;
  left: calc(23vw - 10vw);
  animation: bubble 2s ease-in 2.538s infinite;
}

.fire:nth-child(1) {
  position: absolute;
  width: 42vmin;
  height: 42vmin;
  left: calc(8vw - 10vw);
  animation: bubble 2s ease-in 1.774s infinite;
}

.fire:nth-child(2) {
  position: absolute;
  width: 32vmin;
  height: 32vmin;
  left: calc(69vw - 10vw);
  animation: bubble 2s ease-in 0.202s infinite;
}

.fire:nth-child(3) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(94vw - 10vw);
  animation: bubble 2s ease-in 0.508s infinite;
}

.fire:nth-child(4) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(35vw - 10vw);
  animation: bubble 2s ease-in 3.686s infinite;
}

.fire:nth-child(5) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(21vw - 10vw);
  animation: bubble 2s ease-in 2.324s infinite;
}

.fire:nth-child(6) {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  left: calc(73vw - 10vw);
  animation: bubble 2s ease-in 0.914s infinite;
}

.fire:nth-child(7) {
  position: absolute;
  width: 46vmin;
  height: 46vmin;
  left: calc(18vw - 10vw);
  animation: bubble 2s ease-in 0.062s infinite;
}

.fire:nth-child(8) {
  position: absolute;
  width: 11vmin;
  height: 11vmin;
  left: calc(99vw - 10vw);
  animation: bubble 2s ease-in 3.456s infinite;
}

.fire:nth-child(9) {
  position: absolute;
  width: 27vmin;
  height: 27vmin;
  left: calc(64vw - 10vw);
  animation: bubble 2s ease-in 2.698s infinite;
}

.fire:nth-child(10) {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  left: calc(63vw - 10vw);
  animation: bubble 2s ease-in 1.786s infinite;
}

.fire:nth-child(11) {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  left: calc(85vw - 10vw);
  animation: bubble 2s ease-in 0.852s infinite;
}

.fire:nth-child(12) {
  position: absolute;
  width: 46vmin;
  height: 46vmin;
  left: calc(23vw - 10vw);
  animation: bubble 2s ease-in 1.596s infinite;
}

.fire:nth-child(13) {
  position: absolute;
  width: 45vmin;
  height: 45vmin;
  left: calc(50vw - 10vw);
  animation: bubble 2s ease-in 3.938s infinite;
}

.fire:nth-child(14) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(83vw - 10vw);
  animation: bubble 2s ease-in 2.328s infinite;
}

.fire:nth-child(15) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(65vw - 10vw);
  animation: bubble 2s ease-in 0.672s infinite;
}

.fire:nth-child(16) {
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  left: calc(80vw - 10vw);
  animation: bubble 2s ease-in 1.866s infinite;
}

.fire:nth-child(17) {
  position: absolute;
  width: 17vmin;
  height: 17vmin;
  left: calc(51vw - 10vw);
  animation: bubble 2s ease-in 0.816s infinite;
}

.fire:nth-child(18) {
  position: absolute;
  width: 50vmin;
  height: 50vmin;
  left: calc(98vw - 10vw);
  animation: bubble 2s ease-in 1.584s infinite;
}

.fire:nth-child(19) {
  position: absolute;
  width: 9vmin;
  height: 9vmin;
  left: calc(98vw - 10vw);
  animation: bubble 2s ease-in 1.71s infinite;
}

.fire:nth-child(20) {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  left: calc(22vw - 10vw);
  animation: bubble 2s ease-in 3.322s infinite;
}

.fire:nth-child(21) {
  position: absolute;
  width: 45vmin;
  height: 45vmin;
  left: calc(27vw - 10vw);
  animation: bubble 2s ease-in 1.586s infinite;
}

.fire:nth-child(22) {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  left: calc(100vw - 10vw);
  animation: bubble 2s ease-in 2.884s infinite;
}

.fire:nth-child(23) {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  left: calc(53vw - 10vw);
  animation: bubble 2s ease-in 3.946s infinite;
}

.fire:nth-child(24) {
  position: absolute;
  width: 35vmin;
  height: 35vmin;
  left: calc(25vw - 10vw);
  animation: bubble 2s ease-in 2.552s infinite;
}

.fire:nth-child(25) {
  position: absolute;
  width: 21vmin;
  height: 21vmin;
  left: calc(40vw - 10vw);
  animation: bubble 2s ease-in 0.962s infinite;
}

.fire:nth-child(26) {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  left: calc(23vw - 10vw);
  animation: bubble 2s ease-in 2.468s infinite;
}

.fire:nth-child(27) {
  position: absolute;
  width: 29vmin;
  height: 29vmin;
  left: calc(4vw - 10vw);
  animation: bubble 2s ease-in 0.19s infinite;
}

.fire:nth-child(28) {
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  left: calc(39vw - 10vw);
  animation: bubble 2s ease-in 1.616s infinite;
}

.fire:nth-child(29) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(90vw - 10vw);
  animation: bubble 2s ease-in 0.254s infinite;
}

.fire:nth-child(30) {
  position: absolute;
  width: 33vmin;
  height: 33vmin;
  left: calc(37vw - 10vw);
  animation: bubble 2s ease-in 1.278s infinite;
}

.fire:nth-child(31) {
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  left: calc(43vw - 10vw);
  animation: bubble 2s ease-in 1.69s infinite;
}

.fire:nth-child(32) {
  position: absolute;
  width: 24vmin;
  height: 24vmin;
  left: calc(90vw - 10vw);
  animation: bubble 2s ease-in 1.106s infinite;
}

.fire:nth-child(33) {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  left: calc(43vw - 10vw);
  animation: bubble 2s ease-in 2.58s infinite;
}

.fire:nth-child(34) {
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  left: calc(67vw - 10vw);
  animation: bubble 2s ease-in 2.61s infinite;
}

.fire:nth-child(35) {
  position: absolute;
  width: 46vmin;
  height: 46vmin;
  left: calc(98vw - 10vw);
  animation: bubble 2s ease-in 0.618s infinite;
}

.fire:nth-child(36) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(65vw - 10vw);
  animation: bubble 2s ease-in 3.186s infinite;
}

.fire:nth-child(37) {
  position: absolute;
  width: 35vmin;
  height: 35vmin;
  left: calc(81vw - 10vw);
  animation: bubble 2s ease-in 1.142s infinite;
}

.fire:nth-child(38) {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  left: calc(74vw - 10vw);
  animation: bubble 2s ease-in 0.778s infinite;
}

.fire:nth-child(39) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(64vw - 10vw);
  animation: bubble 2s ease-in 0.124s infinite;
}

.fire:nth-child(40) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(14vw - 10vw);
  animation: bubble 2s ease-in 0.724s infinite;
}

.fire:nth-child(41) {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  left: calc(48vw - 10vw);
  animation: bubble 2s ease-in 1.128s infinite;
}

.fire:nth-child(42) {
  position: absolute;
  width: 14vmin;
  height: 14vmin;
  left: calc(11vw - 10vw);
  animation: bubble 2s ease-in 0.438s infinite;
}

.fire:nth-child(43) {
  position: absolute;
  width: 17vmin;
  height: 17vmin;
  left: calc(63vw - 10vw);
  animation: bubble 2s ease-in 1.514s infinite;
}

.fire:nth-child(44) {
  position: absolute;
  width: 32vmin;
  height: 32vmin;
  left: calc(78vw - 10vw);
  animation: bubble 2s ease-in 3.966s infinite;
}

.fire:nth-child(45) {
  position: absolute;
  width: 16vmin;
  height: 16vmin;
  left: calc(82vw - 10vw);
  animation: bubble 2s ease-in 1.022s infinite;
}

.fire:nth-child(46) {
  position: absolute;
  width: 24vmin;
  height: 24vmin;
  left: calc(27vw - 10vw);
  animation: bubble 2s ease-in 2.214s infinite;
}

.fire:nth-child(47) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(49vw - 10vw);
  animation: bubble 2s ease-in 2.8s infinite;
}

.fire:nth-child(48) {
  position: absolute;
  width: 24vmin;
  height: 24vmin;
  left: calc(92vw - 10vw);
  animation: bubble 2s ease-in 1.574s infinite;
}

.fire:nth-child(49) {
  position: absolute;
  width: 26vmin;
  height: 26vmin;
  left: calc(47vw - 10vw);
  animation: bubble 2s ease-in 0.532s infinite;
}

.fire:nth-child(50) {
  position: absolute;
  width: 42vmin;
  height: 42vmin;
  left: calc(89vw - 10vw);
  animation: bubble 2s ease-in 0.976s infinite;
}

.fire:nth-child(51) {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  left: calc(83vw - 10vw);
  animation: bubble 2s ease-in 3.104s infinite;
}

.fire:nth-child(52) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(35vw - 10vw);
  animation: bubble 2s ease-in 2.76s infinite;
}

.fire:nth-child(53) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(70vw - 10vw);
  animation: bubble 2s ease-in 2.504s infinite;
}

.fire:nth-child(54) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(46vw - 10vw);
  animation: bubble 2s ease-in 2.442s infinite;
}

.fire:nth-child(55) {
  position: absolute;
  width: 14vmin;
  height: 14vmin;
  left: calc(5vw - 10vw);
  animation: bubble 2s ease-in 1.522s infinite;
}

.fire:nth-child(56) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(48vw - 10vw);
  animation: bubble 2s ease-in 0.018s infinite;
}

.fire:nth-child(57) {
  position: absolute;
  width: 24vmin;
  height: 24vmin;
  left: calc(36vw - 10vw);
  animation: bubble 2s ease-in 3.702s infinite;
}

.fire:nth-child(58) {
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  left: calc(85vw - 10vw);
  animation: bubble 2s ease-in 0.198s infinite;
}

.fire:nth-child(59) {
  position: absolute;
  width: 21vmin;
  height: 21vmin;
  left: calc(72vw - 10vw);
  animation: bubble 2s ease-in 2.158s infinite;
}

.fire:nth-child(60) {
  position: absolute;
  width: 26vmin;
  height: 26vmin;
  left: calc(66vw - 10vw);
  animation: bubble 2s ease-in 3.052s infinite;
}

.fire:nth-child(61) {
  position: absolute;
  width: 42vmin;
  height: 42vmin;
  left: calc(87vw - 10vw);
  animation: bubble 2s ease-in 0.014s infinite;
}

.fire:nth-child(62) {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  left: calc(28vw - 10vw);
  animation: bubble 2s ease-in 1.572s infinite;
}

.fire:nth-child(63) {
  position: absolute;
  width: 9vmin;
  height: 9vmin;
  left: calc(25vw - 10vw);
  animation: bubble 2s ease-in 3.738s infinite;
}

.fire:nth-child(64) {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  left: calc(35vw - 10vw);
  animation: bubble 2s ease-in 0.41s infinite;
}

.fire:nth-child(65) {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  left: calc(16vw - 10vw);
  animation: bubble 2s ease-in 2.008s infinite;
}

.fire:nth-child(66) {
  position: absolute;
  width: 27vmin;
  height: 27vmin;
  left: calc(14vw - 10vw);
  animation: bubble 2s ease-in 2.846s infinite;
}

.fire:nth-child(67) {
  position: absolute;
  width: 38vmin;
  height: 38vmin;
  left: calc(88vw - 10vw);
  animation: bubble 2s ease-in 2.27s infinite;
}

.fire:nth-child(68) {
  position: absolute;
  width: 33vmin;
  height: 33vmin;
  left: calc(96vw - 10vw);
  animation: bubble 2s ease-in 3.794s infinite;
}

.fire:nth-child(69) {
  position: absolute;
  width: 36vmin;
  height: 36vmin;
  left: calc(76vw - 10vw);
  animation: bubble 2s ease-in 1.55s infinite;
}

.fire:nth-child(70) {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  left: calc(82vw - 10vw);
  animation: bubble 2s ease-in 2.886s infinite;
}

.fire:nth-child(71) {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  left: calc(39vw - 10vw);
  animation: bubble 2s ease-in 0.482s infinite;
}

.fire:nth-child(72) {
  position: absolute;
  width: 31vmin;
  height: 31vmin;
  left: calc(30vw - 10vw);
  animation: bubble 2s ease-in 3.168s infinite;
}

.fire:nth-child(73) {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  left: calc(34vw - 10vw);
  animation: bubble 2s ease-in 1.63s infinite;
}

.fire:nth-child(74) {
  position: absolute;
  width: 35vmin;
  height: 35vmin;
  left: calc(18vw - 10vw);
  animation: bubble 2s ease-in 1.136s infinite;
}

.fire:nth-child(75) {
  position: absolute;
  width: 13vmin;
  height: 13vmin;
  left: calc(14vw - 10vw);
  animation: bubble 2s ease-in 1.25s infinite;
}

.fire:nth-child(76) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(20vw - 10vw);
  animation: bubble 2s ease-in 1.026s infinite;
}

.fire:nth-child(77) {
  position: absolute;
  width: 21vmin;
  height: 21vmin;
  left: calc(64vw - 10vw);
  animation: bubble 2s ease-in 0.27s infinite;
}

.fire:nth-child(78) {
  position: absolute;
  width: 41vmin;
  height: 41vmin;
  left: calc(37vw - 10vw);
  animation: bubble 2s ease-in 2.834s infinite;
}

.fire:nth-child(79) {
  position: absolute;
  width: 32vmin;
  height: 32vmin;
  left: calc(42vw - 10vw);
  animation: bubble 2s ease-in 2.704s infinite;
}

.fire:nth-child(80) {
  position: absolute;
  width: 39vmin;
  height: 39vmin;
  left: calc(5vw - 10vw);
  animation: bubble 2s ease-in 0.182s infinite;
}

.fire:nth-child(81) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(1vw - 10vw);
  animation: bubble 2s ease-in 3.566s infinite;
}

.fire:nth-child(82) {
  position: absolute;
  width: 48vmin;
  height: 48vmin;
  left: calc(74vw - 10vw);
  animation: bubble 2s ease-in 0.382s infinite;
}

.fire:nth-child(83) {
  position: absolute;
  width: 41vmin;
  height: 41vmin;
  left: calc(73vw - 10vw);
  animation: bubble 2s ease-in 1.202s infinite;
}

.fire:nth-child(84) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(81vw - 10vw);
  animation: bubble 2s ease-in 2.92s infinite;
}

.fire:nth-child(85) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(79vw - 10vw);
  animation: bubble 2s ease-in 3.794s infinite;
}

.fire:nth-child(86) {
  position: absolute;
  width: 14vmin;
  height: 14vmin;
  left: calc(9vw - 10vw);
  animation: bubble 2s ease-in 0.464s infinite;
}

.fire:nth-child(87) {
  position: absolute;
  width: 17vmin;
  height: 17vmin;
  left: calc(67vw - 10vw);
  animation: bubble 2s ease-in 2.752s infinite;
}

.fire:nth-child(88) {
  position: absolute;
  width: 26vmin;
  height: 26vmin;
  left: calc(77vw - 10vw);
  animation: bubble 2s ease-in 0.532s infinite;
}

.fire:nth-child(89) {
  position: absolute;
  width: 27vmin;
  height: 27vmin;
  left: calc(56vw - 10vw);
  animation: bubble 2s ease-in 3.344s infinite;
}

.fire:nth-child(90) {
  position: absolute;
  width: 46vmin;
  height: 46vmin;
  left: calc(58vw - 10vw);
  animation: bubble 2s ease-in 1.53s infinite;
}

.fire:nth-child(91) {
  position: absolute;
  width: 36vmin;
  height: 36vmin;
  left: calc(39vw - 10vw);
  animation: bubble 2s ease-in 2.624s infinite;
}

.fire:nth-child(92) {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  left: calc(5vw - 10vw);
  animation: bubble 2s ease-in 3.576s infinite;
}

.fire:nth-child(93) {
  position: absolute;
  width: 48vmin;
  height: 48vmin;
  left: calc(44vw - 10vw);
  animation: bubble 2s ease-in 1.554s infinite;
}

.fire:nth-child(94) {
  position: absolute;
  width: 49vmin;
  height: 49vmin;
  left: calc(45vw - 10vw);
  animation: bubble 2s ease-in 3.026s infinite;
}

.fire:nth-child(95) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(67vw - 10vw);
  animation: bubble 2s ease-in 1.454s infinite;
}

.fire:nth-child(96) {
  position: absolute;
  width: 28vmin;
  height: 28vmin;
  left: calc(49vw - 10vw);
  animation: bubble 2s ease-in 0.252s infinite;
}

.fire:nth-child(97) {
  position: absolute;
  width: 44vmin;
  height: 44vmin;
  left: calc(56vw - 10vw);
  animation: bubble 2s ease-in 2.918s infinite;
}

.fire:nth-child(98) {
  position: absolute;
  width: 44vmin;
  height: 44vmin;
  left: calc(26vw - 10vw);
  animation: bubble 2s ease-in 1.998s infinite;
}

.fire:nth-child(99) {
  position: absolute;
  width: 14vmin;
  height: 14vmin;
  left: calc(79vw - 10vw);
  animation: bubble 2s ease-in 1.612s infinite;
}

.fire:nth-child(100) {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  left: calc(15vw - 10vw);
  animation: bubble 2s ease-in 1.958s infinite;
}

.fire:nth-child(101) {
  position: absolute;
  width: 11vmin;
  height: 11vmin;
  left: calc(27vw - 10vw);
  animation: bubble 2s ease-in 0.694s infinite;
}

.fire:nth-child(102) {
  position: absolute;
  width: 41vmin;
  height: 41vmin;
  left: calc(28vw - 10vw);
  animation: bubble 2s ease-in 1.466s infinite;
}

.fire:nth-child(103) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(94vw - 10vw);
  animation: bubble 2s ease-in 1.39s infinite;
}

.fire:nth-child(104) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(49vw - 10vw);
  animation: bubble 2s ease-in 3.856s infinite;
}

.fire:nth-child(105) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(28vw - 10vw);
  animation: bubble 2s ease-in 0.024s infinite;
}

.fire:nth-child(106) {
  position: absolute;
  width: 17vmin;
  height: 17vmin;
  left: calc(13vw - 10vw);
  animation: bubble 2s ease-in 1.2s infinite;
}

.fire:nth-child(107) {
  position: absolute;
  width: 32vmin;
  height: 32vmin;
  left: calc(10vw - 10vw);
  animation: bubble 2s ease-in 1.722s infinite;
}

.fire:nth-child(108) {
  position: absolute;
  width: 14vmin;
  height: 14vmin;
  left: calc(91vw - 10vw);
  animation: bubble 2s ease-in 1.364s infinite;
}

.fire:nth-child(109) {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  left: calc(56vw - 10vw);
  animation: bubble 2s ease-in 2.03s infinite;
}

.fire:nth-child(110) {
  position: absolute;
  width: 43vmin;
  height: 43vmin;
  left: calc(98vw - 10vw);
  animation: bubble 2s ease-in 1.546s infinite;
}

.fire:nth-child(111) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(74vw - 10vw);
  animation: bubble 2s ease-in 2.974s infinite;
}

.fire:nth-child(112) {
  position: absolute;
  width: 24vmin;
  height: 24vmin;
  left: calc(39vw - 10vw);
  animation: bubble 2s ease-in 0.272s infinite;
}

.fire:nth-child(113) {
  position: absolute;
  width: 34vmin;
  height: 34vmin;
  left: calc(77vw - 10vw);
  animation: bubble 2s ease-in 0.378s infinite;
}

.fire:nth-child(114) {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  left: calc(2vw - 10vw);
  animation: bubble 2s ease-in 3.748s infinite;
}

.fire:nth-child(115) {
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  left: calc(11vw - 10vw);
  animation: bubble 2s ease-in 0.716s infinite;
}

.fire:nth-child(116) {
  position: absolute;
  width: 35vmin;
  height: 35vmin;
  left: calc(76vw - 10vw);
  animation: bubble 2s ease-in 1.49s infinite;
}

.fire:nth-child(117) {
  position: absolute;
  width: 9vmin;
  height: 9vmin;
  left: calc(80vw - 10vw);
  animation: bubble 2s ease-in 0.536s infinite;
}

.fire:nth-child(118) {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  left: calc(4vw - 10vw);
  animation: bubble 2s ease-in 1.386s infinite;
}

.fire:nth-child(119) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(95vw - 10vw);
  animation: bubble 2s ease-in 0.804s infinite;
}

.fire:nth-child(120) {
  position: absolute;
  width: 33vmin;
  height: 33vmin;
  left: calc(78vw - 10vw);
  animation: bubble 2s ease-in 1.05s infinite;
}

.fire:nth-child(121) {
  position: absolute;
  width: 26vmin;
  height: 26vmin;
  left: calc(49vw - 10vw);
  animation: bubble 2s ease-in 2.96s infinite;
}

.fire:nth-child(122) {
  position: absolute;
  width: 7vmin;
  height: 7vmin;
  left: calc(55vw - 10vw);
  animation: bubble 2s ease-in 1.024s infinite;
}

.fire:nth-child(123) {
  position: absolute;
  width: 50vmin;
  height: 50vmin;
  left: calc(54vw - 10vw);
  animation: bubble 2s ease-in 2.242s infinite;
}

.fire:nth-child(124) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(20vw - 10vw);
  animation: bubble 2s ease-in 3.526s infinite;
}

.fire:nth-child(125) {
  position: absolute;
  width: 46vmin;
  height: 46vmin;
  left: calc(50vw - 10vw);
  animation: bubble 2s ease-in 2.202s infinite;
}

.fire:nth-child(126) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(39vw - 10vw);
  animation: bubble 2s ease-in 0.918s infinite;
}

.fire:nth-child(127) {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  left: calc(39vw - 10vw);
  animation: bubble 2s ease-in 0.284s infinite;
}

.fire:nth-child(128) {
  position: absolute;
  width: 38vmin;
  height: 38vmin;
  left: calc(25vw - 10vw);
  animation: bubble 2s ease-in 0.852s infinite;
}

.fire:nth-child(129) {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  left: calc(43vw - 10vw);
  animation: bubble 2s ease-in 2.428s infinite;
}

.fire:nth-child(130) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(53vw - 10vw);
  animation: bubble 2s ease-in 1.826s infinite;
}

.fire:nth-child(131) {
  position: absolute;
  width: 41vmin;
  height: 41vmin;
  left: calc(70vw - 10vw);
  animation: bubble 2s ease-in 1.7s infinite;
}

.fire:nth-child(132) {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  left: calc(63vw - 10vw);
  animation: bubble 2s ease-in 2.342s infinite;
}

.fire:nth-child(133) {
  position: absolute;
  width: 33vmin;
  height: 33vmin;
  left: calc(21vw - 10vw);
  animation: bubble 2s ease-in 0.252s infinite;
}

.fire:nth-child(134) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(90vw - 10vw);
  animation: bubble 2s ease-in 3.868s infinite;
}

.fire:nth-child(135) {
  position: absolute;
  width: 34vmin;
  height: 34vmin;
  left: calc(11vw - 10vw);
  animation: bubble 2s ease-in 0.984s infinite;
}

.fire:nth-child(136) {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  left: calc(43vw - 10vw);
  animation: bubble 2s ease-in 2.208s infinite;
}

.fire:nth-child(137) {
  position: absolute;
  width: 34vmin;
  height: 34vmin;
  left: calc(74vw - 10vw);
  animation: bubble 2s ease-in 0.628s infinite;
}

.fire:nth-child(138) {
  position: absolute;
  width: 13vmin;
  height: 13vmin;
  left: calc(92vw - 10vw);
  animation: bubble 2s ease-in 1.096s infinite;
}

.fire:nth-child(139) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(24vw - 10vw);
  animation: bubble 2s ease-in 0.026s infinite;
}

.fire:nth-child(140) {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  left: calc(3vw - 10vw);
  animation: bubble 2s ease-in 3.488s infinite;
}

.fire:nth-child(141) {
  position: absolute;
  width: 45vmin;
  height: 45vmin;
  left: calc(82vw - 10vw);
  animation: bubble 2s ease-in 2.78s infinite;
}

.fire:nth-child(142) {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  left: calc(91vw - 10vw);
  animation: bubble 2s ease-in 2.278s infinite;
}

.fire:nth-child(143) {
  position: absolute;
  width: 39vmin;
  height: 39vmin;
  left: calc(30vw - 10vw);
  animation: bubble 2s ease-in 1.25s infinite;
}

.fire:nth-child(144) {
  position: absolute;
  width: 23vmin;
  height: 23vmin;
  left: calc(91vw - 10vw);
  animation: bubble 2s ease-in 1.336s infinite;
}

.fire:nth-child(145) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(55vw - 10vw);
  animation: bubble 2s ease-in 0.68s infinite;
}

.fire:nth-child(146) {
  position: absolute;
  width: 14vmin;
  height: 14vmin;
  left: calc(99vw - 10vw);
  animation: bubble 2s ease-in 2.27s infinite;
}

.fire:nth-child(147) {
  position: absolute;
  width: 36vmin;
  height: 36vmin;
  left: calc(5vw - 10vw);
  animation: bubble 2s ease-in 0.25s infinite;
}

.fire:nth-child(148) {
  position: absolute;
  width: 42vmin;
  height: 42vmin;
  left: calc(18vw - 10vw);
  animation: bubble 2s ease-in 2.688s infinite;
}

.fire:nth-child(149) {
  position: absolute;
  width: 42vmin;
  height: 42vmin;
  left: calc(31vw - 10vw);
  animation: bubble 2s ease-in 0.524s infinite;
}

.fire:nth-child(150) {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  left: calc(18vw - 10vw);
  animation: bubble 2s ease-in 1.918s infinite;
}

.fire:nth-child(151) {
  position: absolute;
  width: 31vmin;
  height: 31vmin;
  left: calc(4vw - 10vw);
  animation: bubble 2s ease-in 2.34s infinite;
}

.fire:nth-child(152) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(44vw - 10vw);
  animation: bubble 2s ease-in 1.73s infinite;
}

.fire:nth-child(153) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(58vw - 10vw);
  animation: bubble 2s ease-in 0.686s infinite;
}

.fire:nth-child(154) {
  position: absolute;
  width: 39vmin;
  height: 39vmin;
  left: calc(28vw - 10vw);
  animation: bubble 2s ease-in 2.194s infinite;
}

.fire:nth-child(155) {
  position: absolute;
  width: 7vmin;
  height: 7vmin;
  left: calc(31vw - 10vw);
  animation: bubble 2s ease-in 0.63s infinite;
}

.fire:nth-child(156) {
  position: absolute;
  width: 41vmin;
  height: 41vmin;
  left: calc(21vw - 10vw);
  animation: bubble 2s ease-in 0.968s infinite;
}

.fire:nth-child(157) {
  position: absolute;
  width: 44vmin;
  height: 44vmin;
  left: calc(97vw - 10vw);
  animation: bubble 2s ease-in 0.81s infinite;
}

.fire:nth-child(158) {
  position: absolute;
  width: 36vmin;
  height: 36vmin;
  left: calc(39vw - 10vw);
  animation: bubble 2s ease-in 2.782s infinite;
}

.fire:nth-child(159) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(32vw - 10vw);
  animation: bubble 2s ease-in 3.574s infinite;
}

.fire:nth-child(160) {
  position: absolute;
  width: 47vmin;
  height: 47vmin;
  left: calc(6vw - 10vw);
  animation: bubble 2s ease-in 3.016s infinite;
}

.fire:nth-child(161) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(42vw - 10vw);
  animation: bubble 2s ease-in 0.152s infinite;
}

.fire:nth-child(162) {
  position: absolute;
  width: 31vmin;
  height: 31vmin;
  left: calc(70vw - 10vw);
  animation: bubble 2s ease-in 3.29s infinite;
}

.fire:nth-child(163) {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  left: calc(80vw - 10vw);
  animation: bubble 2s ease-in 0.88s infinite;
}

.fire:nth-child(164) {
  position: absolute;
  width: 42vmin;
  height: 42vmin;
  left: calc(20vw - 10vw);
  animation: bubble 2s ease-in 0.272s infinite;
}

.fire:nth-child(165) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(89vw - 10vw);
  animation: bubble 2s ease-in 2.658s infinite;
}

.fire:nth-child(166) {
  position: absolute;
  width: 17vmin;
  height: 17vmin;
  left: calc(90vw - 10vw);
  animation: bubble 2s ease-in 2.922s infinite;
}

.fire:nth-child(167) {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  left: calc(13vw - 10vw);
  animation: bubble 2s ease-in 2.036s infinite;
}

.fire:nth-child(168) {
  position: absolute;
  width: 48vmin;
  height: 48vmin;
  left: calc(28vw - 10vw);
  animation: bubble 2s ease-in 0.758s infinite;
}

.fire:nth-child(169) {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  left: calc(34vw - 10vw);
  animation: bubble 2s ease-in 3.618s infinite;
}

.fire:nth-child(170) {
  position: absolute;
  width: 34vmin;
  height: 34vmin;
  left: calc(52vw - 10vw);
  animation: bubble 2s ease-in 0.56s infinite;
}

.fire:nth-child(171) {
  position: absolute;
  width: 41vmin;
  height: 41vmin;
  left: calc(3vw - 10vw);
  animation: bubble 2s ease-in 3.528s infinite;
}

.fire:nth-child(172) {
  position: absolute;
  width: 27vmin;
  height: 27vmin;
  left: calc(64vw - 10vw);
  animation: bubble 2s ease-in 1.75s infinite;
}

.fire:nth-child(173) {
  position: absolute;
  width: 32vmin;
  height: 32vmin;
  left: calc(26vw - 10vw);
  animation: bubble 2s ease-in 3s infinite;
}

.fire:nth-child(174) {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  left: calc(51vw - 10vw);
  animation: bubble 2s ease-in 0.312s infinite;
}

.fire:nth-child(175) {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  left: calc(3vw - 10vw);
  animation: bubble 2s ease-in 3.45s infinite;
}

.fire:nth-child(176) {
  position: absolute;
  width: 48vmin;
  height: 48vmin;
  left: calc(96vw - 10vw);
  animation: bubble 2s ease-in 0.542s infinite;
}

.fire:nth-child(177) {
  position: absolute;
  width: 33vmin;
  height: 33vmin;
  left: calc(86vw - 10vw);
  animation: bubble 2s ease-in 0.288s infinite;
}

.fire:nth-child(178) {
  position: absolute;
  width: 44vmin;
  height: 44vmin;
  left: calc(4vw - 10vw);
  animation: bubble 2s ease-in 1.608s infinite;
}

.fire:nth-child(179) {
  position: absolute;
  width: 35vmin;
  height: 35vmin;
  left: calc(64vw - 10vw);
  animation: bubble 2s ease-in 0.1s infinite;
}

.fire:nth-child(180) {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  left: calc(37vw - 10vw);
  animation: bubble 2s ease-in 3.654s infinite;
}

.fire:nth-child(181) {
  position: absolute;
  width: 35vmin;
  height: 35vmin;
  left: calc(69vw - 10vw);
  animation: bubble 2s ease-in 1.812s infinite;
}

.fire:nth-child(182) {
  position: absolute;
  width: 50vmin;
  height: 50vmin;
  left: calc(63vw - 10vw);
  animation: bubble 2s ease-in 0.2s infinite;
}

.fire:nth-child(183) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(16vw - 10vw);
  animation: bubble 2s ease-in 3.524s infinite;
}

.fire:nth-child(184) {
  position: absolute;
  width: 46vmin;
  height: 46vmin;
  left: calc(76vw - 10vw);
  animation: bubble 2s ease-in 3.102s infinite;
}

.fire:nth-child(185) {
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  left: calc(32vw - 10vw);
  animation: bubble 2s ease-in 0.492s infinite;
}

.fire:nth-child(186) {
  position: absolute;
  width: 27vmin;
  height: 27vmin;
  left: calc(92vw - 10vw);
  animation: bubble 2s ease-in 2.34s infinite;
}

.fire:nth-child(187) {
  position: absolute;
  width: 17vmin;
  height: 17vmin;
  left: calc(76vw - 10vw);
  animation: bubble 2s ease-in 2.97s infinite;
}

.fire:nth-child(188) {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  left: calc(89vw - 10vw);
  animation: bubble 2s ease-in 2.85s infinite;
}

.fire:nth-child(189) {
  position: absolute;
  width: 46vmin;
  height: 46vmin;
  left: calc(54vw - 10vw);
  animation: bubble 2s ease-in 2.886s infinite;
}

.fire:nth-child(190) {
  position: absolute;
  width: 41vmin;
  height: 41vmin;
  left: calc(40vw - 10vw);
  animation: bubble 2s ease-in 3.58s infinite;
}

.fire:nth-child(191) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(62vw - 10vw);
  animation: bubble 2s ease-in 3.452s infinite;
}

.fire:nth-child(192) {
  position: absolute;
  width: 16vmin;
  height: 16vmin;
  left: calc(66vw - 10vw);
  animation: bubble 2s ease-in 0.288s infinite;
}

.fire:nth-child(193) {
  position: absolute;
  width: 11vmin;
  height: 11vmin;
  left: calc(75vw - 10vw);
  animation: bubble 2s ease-in 2.776s infinite;
}

.fire:nth-child(194) {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  left: calc(76vw - 10vw);
  animation: bubble 2s ease-in 3.73s infinite;
}

.fire:nth-child(195) {
  position: absolute;
  width: 11vmin;
  height: 11vmin;
  left: calc(4vw - 10vw);
  animation: bubble 2s ease-in 2.768s infinite;
}

.fire:nth-child(196) {
  position: absolute;
  width: 48vmin;
  height: 48vmin;
  left: calc(16vw - 10vw);
  animation: bubble 2s ease-in 1.148s infinite;
}

.fire:nth-child(197) {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  left: calc(46vw - 10vw);
  animation: bubble 2s ease-in 2.122s infinite;
}

.fire:nth-child(198) {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  left: calc(31vw - 10vw);
  animation: bubble 2s ease-in 3.194s infinite;
}

.fire:nth-child(199) {
  position: absolute;
  width: 38vmin;
  height: 38vmin;
  left: calc(42vw - 10vw);
  animation: bubble 2s ease-in 3.922s infinite;
}

.fire:nth-child(200) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(44vw - 10vw);
  animation: bubble 2s ease-in 3.622s infinite;
}

/*# sourceMappingURL=style.css.map */
