/*
 * Keyframes
 */
@keyframes bubble {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: center;
  } 100% {
    transform: translate(0, -20vmin) scale(0);
    transform-origin: center;
  }
}

/*
 * Stage
 */
 * {
  margin: 0;
  padding: 0;
}
.stage {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  background-color: #ffefcf;
  overflow: hidden;
  filter: contrast(20px);
}

.fire-wrap {
  width: 100%;
  height: 25vmin;
  position: absolute;
  display: block;
  background-color: #E4AB6C;
  bottom: 0;
  left: 0;
  right: 0;
}

.fire {
  top: 0vmin;
  background-color: #E4AB6C;
  border-radius: 50%;
  transform: scale(0);
}

$count: 201;
@for $i from 0 to $count {
  .fire:nth-child(#{$i}) {
    $width: #{random(50)}vmin;
    position: absolute;
    width: $width;
    height: $width;
    left: calc(#{(random(100))}vw - 10vw);
    animation: bubble 2s ease-in #{random(2000)/500}s infinite;
  }
}