/*
 * Keyframes
 */
@keyframes movetop {
  0% {
    transform: translate(0, 0);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: translate(0, -30vmin);
    transform-origin: center;
    opacity: 0;
  }
}
/*
 * Stage
 */
* {
  margin: 0;
  padding: 0;
}

.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ff7a00;
  background-color: #3d3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fire-wrap {
  width: 30vmin;
  height: 30vmin;
  position: relative;
  border-radius: 50%;
  filter: blur(2px) contrast(10);
  transform: scaleX(0.8);
}

.fire {
  background-color: #ffefcf;
  bottom: 0vmin;
  border-radius: 50%;
}

.fire:nth-child(0) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(36px);
  animation: movetop 0.6s linear 1.95s infinite;
}

.fire:nth-child(1) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 0.595s infinite;
}

.fire:nth-child(2) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(33px);
  animation: movetop 0.6s linear 1.042s infinite;
}

.fire:nth-child(3) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(37px);
  animation: movetop 0.6s linear 0.448s infinite;
}

.fire:nth-child(4) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 0.807s infinite;
}

.fire:nth-child(5) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(19px);
  animation: movetop 0.6s linear 0.926s infinite;
}

.fire:nth-child(6) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(16px);
  animation: movetop 0.6s linear 1.466s infinite;
}

.fire:nth-child(7) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 1.051s infinite;
}

.fire:nth-child(8) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(3px);
  animation: movetop 0.6s linear 0.331s infinite;
}

.fire:nth-child(9) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(27px);
  animation: movetop 0.6s linear 1.992s infinite;
}

.fire:nth-child(10) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(7px);
  animation: movetop 0.6s linear 1.34s infinite;
}

.fire:nth-child(11) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(27px);
  animation: movetop 0.6s linear 0.208s infinite;
}

.fire:nth-child(12) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(37px);
  animation: movetop 0.6s linear 1.422s infinite;
}

.fire:nth-child(13) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(35px);
  animation: movetop 0.6s linear 0.047s infinite;
}

.fire:nth-child(14) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.314s infinite;
}

.fire:nth-child(15) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(14px);
  animation: movetop 0.6s linear 1.28s infinite;
}

.fire:nth-child(16) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 1.779s infinite;
}

.fire:nth-child(17) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(19px);
  animation: movetop 0.6s linear 1.947s infinite;
}

.fire:nth-child(18) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(31px);
  animation: movetop 0.6s linear 0.213s infinite;
}

.fire:nth-child(19) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 1.516s infinite;
}

.fire:nth-child(20) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(17px);
  animation: movetop 0.6s linear 1.569s infinite;
}

.fire:nth-child(21) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 1.736s infinite;
}

.fire:nth-child(22) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(25px);
  animation: movetop 0.6s linear 0.567s infinite;
}

.fire:nth-child(23) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(28px);
  animation: movetop 0.6s linear 1.882s infinite;
}

.fire:nth-child(24) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 0.804s infinite;
}

.fire:nth-child(25) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(31px);
  animation: movetop 0.6s linear 0.725s infinite;
}

.fire:nth-child(26) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(14px);
  animation: movetop 0.6s linear 1.71s infinite;
}

.fire:nth-child(27) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.034s infinite;
}

.fire:nth-child(28) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(12px);
  animation: movetop 0.6s linear 1.851s infinite;
}

.fire:nth-child(29) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(4px);
  animation: movetop 0.6s linear 1.407s infinite;
}

.fire:nth-child(30) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(17px);
  animation: movetop 0.6s linear 0.406s infinite;
}

.fire:nth-child(31) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(33px);
  animation: movetop 0.6s linear 1.726s infinite;
}

.fire:nth-child(32) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(20px);
  animation: movetop 0.6s linear 0.489s infinite;
}

.fire:nth-child(33) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(4px);
  animation: movetop 0.6s linear 0.116s infinite;
}

.fire:nth-child(34) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(1px);
  animation: movetop 0.6s linear 1.958s infinite;
}

.fire:nth-child(35) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(15px);
  animation: movetop 0.6s linear 1.485s infinite;
}

.fire:nth-child(36) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(27px);
  animation: movetop 0.6s linear 0.75s infinite;
}

.fire:nth-child(37) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(8px);
  animation: movetop 0.6s linear 0.275s infinite;
}

.fire:nth-child(38) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(26px);
  animation: movetop 0.6s linear 0.84s infinite;
}

.fire:nth-child(39) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(7px);
  animation: movetop 0.6s linear 1.517s infinite;
}

.fire:nth-child(40) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(1px);
  animation: movetop 0.6s linear 0.252s infinite;
}

.fire:nth-child(41) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(25px);
  animation: movetop 0.6s linear 0.911s infinite;
}

.fire:nth-child(42) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(8px);
  animation: movetop 0.6s linear 0.86s infinite;
}

.fire:nth-child(43) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(16px);
  animation: movetop 0.6s linear 0.668s infinite;
}

.fire:nth-child(44) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(9px);
  animation: movetop 0.6s linear 0.469s infinite;
}

.fire:nth-child(45) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(20px);
  animation: movetop 0.6s linear 1.372s infinite;
}

.fire:nth-child(46) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(28px);
  animation: movetop 0.6s linear 0.027s infinite;
}

.fire:nth-child(47) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(9px);
  animation: movetop 0.6s linear 1.141s infinite;
}

.fire:nth-child(48) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(34px);
  animation: movetop 0.6s linear 0.037s infinite;
}

.fire:nth-child(49) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(1px);
  animation: movetop 0.6s linear 0.666s infinite;
}

.fire:nth-child(50) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 1.792s infinite;
}

.fire:nth-child(51) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(23px);
  animation: movetop 0.6s linear 1.275s infinite;
}

.fire:nth-child(52) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(29px);
  animation: movetop 0.6s linear 1.992s infinite;
}

.fire:nth-child(53) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(6px);
  animation: movetop 0.6s linear 1.919s infinite;
}

.fire:nth-child(54) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(30px);
  animation: movetop 0.6s linear 1.721s infinite;
}

.fire:nth-child(55) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(34px);
  animation: movetop 0.6s linear 0.26s infinite;
}

.fire:nth-child(56) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(14px);
  animation: movetop 0.6s linear 0.996s infinite;
}

.fire:nth-child(57) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(38px);
  animation: movetop 0.6s linear 1.954s infinite;
}

.fire:nth-child(58) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(12px);
  animation: movetop 0.6s linear 1.328s infinite;
}

.fire:nth-child(59) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(5px);
  animation: movetop 0.6s linear 1.094s infinite;
}

.fire:nth-child(60) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(6px);
  animation: movetop 0.6s linear 1.223s infinite;
}

.fire:nth-child(61) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 1.262s infinite;
}

.fire:nth-child(62) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 0.67s infinite;
}

.fire:nth-child(63) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(22px);
  animation: movetop 0.6s linear 1.671s infinite;
}

.fire:nth-child(64) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(6px);
  animation: movetop 0.6s linear 0.635s infinite;
}

.fire:nth-child(65) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(1px);
  animation: movetop 0.6s linear 1.392s infinite;
}

.fire:nth-child(66) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(5px);
  animation: movetop 0.6s linear 1.665s infinite;
}

.fire:nth-child(67) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(19px);
  animation: movetop 0.6s linear 1.733s infinite;
}

.fire:nth-child(68) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(22px);
  animation: movetop 0.6s linear 1.222s infinite;
}

.fire:nth-child(69) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 0.819s infinite;
}

.fire:nth-child(70) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 1.96s infinite;
}

.fire:nth-child(71) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(27px);
  animation: movetop 0.6s linear 0.625s infinite;
}

.fire:nth-child(72) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(4px);
  animation: movetop 0.6s linear 0.238s infinite;
}

.fire:nth-child(73) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(2px);
  animation: movetop 0.6s linear 1.218s infinite;
}

.fire:nth-child(74) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(7px);
  animation: movetop 0.6s linear 1.295s infinite;
}

.fire:nth-child(75) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(28px);
  animation: movetop 0.6s linear 1.812s infinite;
}

.fire:nth-child(76) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.593s infinite;
}

.fire:nth-child(77) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.121s infinite;
}

.fire:nth-child(78) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(26px);
  animation: movetop 0.6s linear 1.228s infinite;
}

.fire:nth-child(79) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(17px);
  animation: movetop 0.6s linear 0.609s infinite;
}

.fire:nth-child(80) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(37px);
  animation: movetop 0.6s linear 1.809s infinite;
}

.fire:nth-child(81) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(3px);
  animation: movetop 0.6s linear 1.638s infinite;
}

.fire:nth-child(82) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 0.498s infinite;
}

.fire:nth-child(83) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(11px);
  animation: movetop 0.6s linear 1.589s infinite;
}

.fire:nth-child(84) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(28px);
  animation: movetop 0.6s linear 0.637s infinite;
}

.fire:nth-child(85) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 1.024s infinite;
}

.fire:nth-child(86) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(31px);
  animation: movetop 0.6s linear 1.79s infinite;
}

.fire:nth-child(87) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(27px);
  animation: movetop 0.6s linear 0.207s infinite;
}

.fire:nth-child(88) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.56s infinite;
}

.fire:nth-child(89) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(27px);
  animation: movetop 0.6s linear 1.133s infinite;
}

.fire:nth-child(90) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(12px);
  animation: movetop 0.6s linear 1.107s infinite;
}

.fire:nth-child(91) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(26px);
  animation: movetop 0.6s linear 1.547s infinite;
}

.fire:nth-child(92) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 0.216s infinite;
}

.fire:nth-child(93) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 0.369s infinite;
}

.fire:nth-child(94) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(33px);
  animation: movetop 0.6s linear 0.19s infinite;
}

.fire:nth-child(95) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(4px);
  animation: movetop 0.6s linear 1.117s infinite;
}

.fire:nth-child(96) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 0.228s infinite;
}

.fire:nth-child(97) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(21px);
  animation: movetop 0.6s linear 0.743s infinite;
}

.fire:nth-child(98) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.853s infinite;
}

.fire:nth-child(99) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(3px);
  animation: movetop 0.6s linear 0.839s infinite;
}

.fire:nth-child(100) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(7px);
  animation: movetop 0.6s linear 1.699s infinite;
}

.fire:nth-child(101) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(20px);
  animation: movetop 0.6s linear 1.077s infinite;
}

.fire:nth-child(102) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(15px);
  animation: movetop 0.6s linear 0.444s infinite;
}

.fire:nth-child(103) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(38px);
  animation: movetop 0.6s linear 1.75s infinite;
}

.fire:nth-child(104) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 0.504s infinite;
}

.fire:nth-child(105) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 1.622s infinite;
}

.fire:nth-child(106) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(35px);
  animation: movetop 0.6s linear 1.782s infinite;
}

.fire:nth-child(107) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.245s infinite;
}

.fire:nth-child(108) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(6px);
  animation: movetop 0.6s linear 1.145s infinite;
}

.fire:nth-child(109) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(25px);
  animation: movetop 0.6s linear 1.377s infinite;
}

.fire:nth-child(110) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 0.268s infinite;
}

.fire:nth-child(111) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(35px);
  animation: movetop 0.6s linear 0.921s infinite;
}

.fire:nth-child(112) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(14px);
  animation: movetop 0.6s linear 1.116s infinite;
}

.fire:nth-child(113) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(15px);
  animation: movetop 0.6s linear 0.315s infinite;
}

.fire:nth-child(114) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(5px);
  animation: movetop 0.6s linear 0.745s infinite;
}

.fire:nth-child(115) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(22px);
  animation: movetop 0.6s linear 1.863s infinite;
}

.fire:nth-child(116) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(31px);
  animation: movetop 0.6s linear 1.208s infinite;
}

.fire:nth-child(117) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(33px);
  animation: movetop 0.6s linear 1.457s infinite;
}

.fire:nth-child(118) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(26px);
  animation: movetop 0.6s linear 0.889s infinite;
}

.fire:nth-child(119) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(33px);
  animation: movetop 0.6s linear 1.367s infinite;
}

.fire:nth-child(120) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(27px);
  animation: movetop 0.6s linear 1.647s infinite;
}

.fire:nth-child(121) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(23px);
  animation: movetop 0.6s linear 1.784s infinite;
}

.fire:nth-child(122) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(22px);
  animation: movetop 0.6s linear 0.552s infinite;
}

.fire:nth-child(123) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(10px);
  animation: movetop 0.6s linear 1.33s infinite;
}

.fire:nth-child(124) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(38px);
  animation: movetop 0.6s linear 1.956s infinite;
}

.fire:nth-child(125) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 0.507s infinite;
}

.fire:nth-child(126) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(12px);
  animation: movetop 0.6s linear 0.896s infinite;
}

.fire:nth-child(127) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(28px);
  animation: movetop 0.6s linear 1.844s infinite;
}

.fire:nth-child(128) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(11px);
  animation: movetop 0.6s linear 0.503s infinite;
}

.fire:nth-child(129) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(5px);
  animation: movetop 0.6s linear 1.412s infinite;
}

.fire:nth-child(130) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(15px);
  animation: movetop 0.6s linear 1.067s infinite;
}

.fire:nth-child(131) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(8px);
  animation: movetop 0.6s linear 0.897s infinite;
}

.fire:nth-child(132) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.81s infinite;
}

.fire:nth-child(133) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(31px);
  animation: movetop 0.6s linear 1.153s infinite;
}

.fire:nth-child(134) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(7px);
  animation: movetop 0.6s linear 1.485s infinite;
}

.fire:nth-child(135) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(35px);
  animation: movetop 0.6s linear 0.863s infinite;
}

.fire:nth-child(136) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(31px);
  animation: movetop 0.6s linear 1.216s infinite;
}

.fire:nth-child(137) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(14px);
  animation: movetop 0.6s linear 0.023s infinite;
}

.fire:nth-child(138) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(9px);
  animation: movetop 0.6s linear 0.775s infinite;
}

.fire:nth-child(139) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(7px);
  animation: movetop 0.6s linear 1.381s infinite;
}

.fire:nth-child(140) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(21px);
  animation: movetop 0.6s linear 1.396s infinite;
}

.fire:nth-child(141) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(20px);
  animation: movetop 0.6s linear 0.026s infinite;
}

.fire:nth-child(142) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 0.453s infinite;
}

.fire:nth-child(143) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 1.211s infinite;
}

.fire:nth-child(144) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(29px);
  animation: movetop 0.6s linear 1s infinite;
}

.fire:nth-child(145) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(4px);
  animation: movetop 0.6s linear 1.939s infinite;
}

.fire:nth-child(146) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(2px);
  animation: movetop 0.6s linear 1.101s infinite;
}

.fire:nth-child(147) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(28px);
  animation: movetop 0.6s linear 1.376s infinite;
}

.fire:nth-child(148) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(38px);
  animation: movetop 0.6s linear 0.523s infinite;
}

.fire:nth-child(149) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(38px);
  animation: movetop 0.6s linear 1.218s infinite;
}

.fire:nth-child(150) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(21px);
  animation: movetop 0.6s linear 0.673s infinite;
}

.fire:nth-child(151) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(36px);
  animation: movetop 0.6s linear 1.546s infinite;
}

.fire:nth-child(152) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(11px);
  animation: movetop 0.6s linear 1.209s infinite;
}

.fire:nth-child(153) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(32px);
  animation: movetop 0.6s linear 1.607s infinite;
}

.fire:nth-child(154) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 1.09s infinite;
}

.fire:nth-child(155) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 0.325s infinite;
}

.fire:nth-child(156) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(29px);
  animation: movetop 0.6s linear 0.407s infinite;
}

.fire:nth-child(157) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(6px);
  animation: movetop 0.6s linear 1.818s infinite;
}

.fire:nth-child(158) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(34px);
  animation: movetop 0.6s linear 0.946s infinite;
}

.fire:nth-child(159) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(26px);
  animation: movetop 0.6s linear 1.977s infinite;
}

.fire:nth-child(160) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 0.225s infinite;
}

.fire:nth-child(161) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(6px);
  animation: movetop 0.6s linear 0.065s infinite;
}

.fire:nth-child(162) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 1.732s infinite;
}

.fire:nth-child(163) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(5px);
  animation: movetop 0.6s linear 1.124s infinite;
}

.fire:nth-child(164) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 1.41s infinite;
}

.fire:nth-child(165) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(22px);
  animation: movetop 0.6s linear 1.269s infinite;
}

.fire:nth-child(166) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(17px);
  animation: movetop 0.6s linear 1.004s infinite;
}

.fire:nth-child(167) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(15px);
  animation: movetop 0.6s linear 1.805s infinite;
}

.fire:nth-child(168) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(18px);
  animation: movetop 0.6s linear 0.331s infinite;
}

.fire:nth-child(169) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(16px);
  animation: movetop 0.6s linear 1.145s infinite;
}

.fire:nth-child(170) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 0.461s infinite;
}

.fire:nth-child(171) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(12px);
  animation: movetop 0.6s linear 0.029s infinite;
}

.fire:nth-child(172) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(23px);
  animation: movetop 0.6s linear 0.384s infinite;
}

.fire:nth-child(173) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(7px);
  animation: movetop 0.6s linear 0.651s infinite;
}

.fire:nth-child(174) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(15px);
  animation: movetop 0.6s linear 1.343s infinite;
}

.fire:nth-child(175) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 0.094s infinite;
}

.fire:nth-child(176) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(29px);
  animation: movetop 0.6s linear 1.568s infinite;
}

.fire:nth-child(177) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(1px);
  animation: movetop 0.6s linear 0.039s infinite;
}

.fire:nth-child(178) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(1px);
  animation: movetop 0.6s linear 1.686s infinite;
}

.fire:nth-child(179) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(28px);
  animation: movetop 0.6s linear 0.169s infinite;
}

.fire:nth-child(180) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(36px);
  animation: movetop 0.6s linear 1.398s infinite;
}

.fire:nth-child(181) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(34px);
  animation: movetop 0.6s linear 0.421s infinite;
}

.fire:nth-child(182) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(2px);
  animation: movetop 0.6s linear 1.807s infinite;
}

.fire:nth-child(183) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 0.905s infinite;
}

.fire:nth-child(184) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(6px);
  animation: movetop 0.6s linear 1.777s infinite;
}

.fire:nth-child(185) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(3px);
  animation: movetop 0.6s linear 0.447s infinite;
}

.fire:nth-child(186) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(13px);
  animation: movetop 0.6s linear 1.781s infinite;
}

.fire:nth-child(187) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(4px);
  animation: movetop 0.6s linear 1.758s infinite;
}

.fire:nth-child(188) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(3px);
  animation: movetop 0.6s linear 0.327s infinite;
}

.fire:nth-child(189) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(18px);
  animation: movetop 0.6s linear 0.508s infinite;
}

.fire:nth-child(190) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(25px);
  animation: movetop 0.6s linear 1.923s infinite;
}

.fire:nth-child(191) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(33px);
  animation: movetop 0.6s linear 1.107s infinite;
}

.fire:nth-child(192) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(24px);
  animation: movetop 0.6s linear 0.677s infinite;
}

.fire:nth-child(193) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(3px);
  animation: movetop 0.6s linear 0.188s infinite;
}

.fire:nth-child(194) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(25px);
  animation: movetop 0.6s linear 0.572s infinite;
}

.fire:nth-child(195) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(37px);
  animation: movetop 0.6s linear 0.155s infinite;
}

.fire:nth-child(196) {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  left: calc(36px);
  animation: movetop 0.6s linear 0.736s infinite;
}

.fire:nth-child(197) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(40px);
  animation: movetop 0.6s linear 0.89s infinite;
}

.fire:nth-child(198) {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  left: calc(37px);
  animation: movetop 0.6s linear 0.444s infinite;
}

.fire:nth-child(199) {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  left: calc(39px);
  animation: movetop 0.6s linear 0.29s infinite;
}

/*# sourceMappingURL=style.css.map */
