/*
 * Keyframes
 */

/*
 * Stage
 */
* {
    margin: 0;
    padding: 0;
}
.stage {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: #ffefcf;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(2px) contrast(25);
}

.fire-wrap {
    width: 20vmin;
    height: 20vmin;
    position: relative;
    border-radius: 50%;
}

.fire {
    background-color: #ff7a00;
}


/*
 * Animations
 */