/*
 * Theme colors
 */

$theme-blue:         #393939;
$theme-green:        #98AD4E;
$theme-green-light:  #F3FBD2;
$theme-brown:        #695643;
$theme-white:        #EFEBE4;

/*
 * Font
 */
@font-face {
    font-family: "Arial-Rounded-Bold";
    src: url("/stylesheets/fonts/Arial-Rounded-Bold.ttf");
}